body,
html {
  height: 100%;
}

.center-cropped {
  background-image: url('../images/christopher-gower-m_HRfLhgABo-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.white {
  color: white;
}

.main {
  margin: 20% 0 0 0;
  display: flex;
  height: 200px;
  flex-direction: column;
}

.done-right {
  padding-bottom: 50px;
}

.para {
  margin-bottom: 100px;
}

.button {
  margin: 100px 0 0 0;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

p a {
  color: white;
}

.thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail {
  position: relative;
  -ms-zoom: 0.25;
  zoom: 0.25;
  -moz-transform: scale(0.25);
  transform: scale(0.25);
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}

.under a {
  font-size: 3.4rem;
  color: rgba(255, 255, 255, 0.5);
}

.under a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}


.display-1 {
	margin: 0 auto;
	width: 60%;
	height: auto;
	padding: 10px;
	position: relative;
	font-size: 60px;
	text-align: center;
}

.content {
	padding: 0 10%;
}

.content .lead {
	text-align: center;
	width: 60%;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.button-contents {
	justify-content: center;
	margin-top: 20px;
}

.container {
	height: 100%;
	position: relative;
}

.page-wrap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

nav button { 
	z-index: 99;
}

nav button:hover {
	background-color: #A6A6A6;
}

.menu-item {
	z-index: 99;
}

.wpcf7-form-control-wrap input{
	border-radius: 10px;
	border-style: ridge;
}

.wpcf7-form-control-wrap textarea {
	border-radius: 10px;
	border-style: ridge;
}

@media only screen and (max-width: 762px) {
	.display-1 {
		font-size: 40px;
	}
	
	.page-wrap {
		margin: 0 auto;
	}
	
	.content {
		padding: 0;
		width: 100%;
	}
	
	.display-1 {
		margin: 0 auto;
	}
	
	.lead {
		margin: 0 auto;
	}
	
	.centered {
		padding-right: 15px;
	}
}